body {
  background-image: url("space.jpg");
}
body, body * {
  box-sizing: border-box;
}
pre {
  color: #6f3;
  font-size: 14px;
  margin-bottom: 20px;
}
#startDiv {
  display: none;
  border: 1px solid #eee;
  background: rgba(51, 51, 51, 0.8);
  width: 512px;
  height: 512px;
  box-shadow: 3px 3px 6px #eee, -3px -3px 6px #eee;
  margin: auto;
}
h1 {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6f3;
  text-align: center;
}
button {
  background-color: #333;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6f3;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  border-radius: 3px;
}
#wrap {
  margin: auto;
}
.container {
  display: none;
  width: 512px;
  height: 512px;
  box-shadow: 3px 3px 6px #eee, -3px -3px 6px #eee;
  margin: auto;
}
.box {
  border: 1px solid #eee;
  width: 64px;
  height: 64px;
  float: left;
  background-color: azure;
  position: relative;
}
.front, .back {
  width: 64px;
  height: 64px;
  position: absolute;
  backface-visibility: hidden;
}
.front {
  background-color: #333;
  transition: transform .6s;
}
.back {
  background-color: #0cc;
  transition: transform .6s;
  transform: perspective(900px) rotateY(180deg);
}
#stats {
  position: relative;
  display: none;
  background: rgba(51, 51, 51, 0.8);
  width: 512px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6f3;
  text-align: center;
  box-shadow: 3px 3px 6px #eee, -3px -3px 6px #eee;
  margin-top: 35px;
  padding: 5px auto;
}
h4 {
  display: inline-block;
  padding-left: 10px;
  padding-right: 30px;
}
